<p id="notice"><%= notice %></p>

<p>
  <strong>Sports:</strong>
  <%= @profile.sports %>
</p>

<p>
  <strong>Fashion beauty:</strong>
  <%= @profile.fashion_beauty %>
</p>

<p>
  <strong>News current:</strong>
  <%= @profile.news_current %>
</p>

<p>
  <strong>Art design:</strong>
  <%= @profile.art_design %>
</p>

<p>
  <strong>Tecnology:</strong>
  <%= @profile.tecnology %>
</p>

<p>
  <strong>Outdoor running:</strong>
  <%= @profile.outdoor_running %>
</p>

<p>
  <strong>Pictures images:</strong>
  <%= @profile.pictures_images %>
</p>

<p>
  <strong>Gossips:</strong>
  <%= @profile.gossips %>
</p>

<p>
  <strong>Fun memes:</strong>
  <%= @profile.fun_memes %>
</p>

<p>
  <strong>Finance economics:</strong>
  <%= @profile.finance_economics %>
</p>

<p>
  <strong>Business enterpreneurship:</strong>
  <%= @profile.business_enterpreneurship %>
</p>

<p>
  <strong>Music:</strong>
  <%= @profile.music %>
</p>

<p>
  <strong>Movies series theater:</strong>
  <%= @profile.movies_series_theater %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @profile.travel %>
</p>

<p>
  <strong>To do culture:</strong>
  <%= @profile.to_do_culture %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
